body {
    color: white;
    font-family: 'Chalkboard SE', 'Comic Sans MS', cursive;
    margin: 0;
    padding: 10px; /* Padding between the top of the viewport and the top of the blackboard */
    background-image: url('tile.jpg');
    background-repeat: repeat;
}

a {
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 20px;
    background-color: #2a2a2a; /* Slightly darker blackboard color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}



header {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1.5em;
    color: white;
    margin: 10px 0;
    padding-top: 20px;
}

.sold-out {
    font-size: 3em;
    color: black;
    background-color: yellow;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 15px 50px 30px 5px;
    margin-top: 20px;
    z-index: 1;
    position: relative;
}

.show-list {
    column-count: 1;
    column-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.show-item {
    font-size: 1.5em;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between items */
    break-inside: avoid;
}

.show-item a {
    text-decoration: none;
}

.selling-out-shows .show-item {
    font-size: 1em;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
}

/* Responsive styles */
@media (min-width: 600px) {
    .show-list {
        column-count: 2;
    }
}

@media (min-width: 900px) {
    .show-list {
        column-count: 3;
    }
}